<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Las frutas son ricas.<br>
    No importa lo que quieras hacer, ni donde, ni cuando, siempre encontraras una fruta
    apropiada para tus preferencias y necesidades alimenticias.
  </p>  
  {{#link-to 'contact' class="button"}}
    ¡Cultiva frutas ahora!
  {{/link-to}}
</div>
{{outlet}}
