<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>¡Las frutas estarán complacidas en alimentarte!<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    Fruits HQ
    <address>
      Árboles, palmeras...<br>
      Todo el mundo (En los polos quizá no)
    </address>
    <a href="tel:57.3000079944">(57) 300-0079944</a><br>
    <a href="mailto:fruits@tree.com">fruits@tree.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}